/* public/fonts/fonts.css */
@font-face {
     font-family: '__Poppins_7df6af';
     src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
          url('/fonts/Poppins-Regular.woff') format('woff'),
          url('/fonts/Poppins-Regular.ttf') format('truetype');
     font-weight: 400; /* Adjust as necessary */
     font-style: normal;
   }
   
   @font-face {
     font-family: '__Poppins_Fallback_7df6af';
     src: url('/fonts/Poppins-Bold.woff2') format('woff2'),
          url('/fonts/Poppins-Bold.woff') format('woff'),
          url('/fonts/Poppins-Bold.ttf') format('truetype');
     font-weight: 700; /* Adjust as necessary */
     font-style: normal;
   }
   